.dashboard-header h1 {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 3.6rem;
  font-weight: 100;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  /* grid-gap: 3rem; */
  margin-top: 6rem;

}

.news-link, .sport-link {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.news-link:hover, .sport-link:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1144px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 3rem; */
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-gap: 3rem; */
    margin-top: 6rem;
  }
}

